<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jmespath/0.15.0/jmespath.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script src="/js/lib.js"></script>
        <script src="/js/index.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="ui">
        <!--
        <div class="ui top attached tabular menu">
          <a class="active item">Lines</a>
          <a class="item">Bars</a>
          <a class="item">Table</a>
        </div>
        -->
        <div id="app" class="ui top attached segment">
            <header>
                <div class="ui action input">
                  <select v-model="time_resolution" class="ui dropdown">
                    <option value="day">day</option>
                    <option value="week">week</option>
                    <option value="month">month</option>
                  </select>
                  <input type="text" v-model="time_after" placeholder="after" />
                  <input type="text" v-model="time_before" placeholder="before" />
                </div>
            </header>

            <div id="pie_one" class="chart pie"></div>
            <div id="pie_two" class="chart pie"></div>
            <div id="stack" class="chart stack"></div>
        </div>

        <div id="section_one" class="ui top attached segment">
            <div id="bar_one" class="chart bar">
                    <canvas></canvas>
            </div>
            <div id="bar_two" class="chart bar">
                    <canvas></canvas>
            </div>
        </div>

        <div class="ui top attached segment">
            <table id="table"></table>
        </div>

        <div id="dnd" class="ui basic modal">
            <input type="file" id="file" />
            <div class='content'>
                Drag and Drop<br/>
                Transactions
            </div>
        </div>

    </body>
</html>
