<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jmespath/0.15.0/jmespath.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="./js/lib.js"></script>
    <script src="./js/index.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body class="ui">
    <div id="app">
        <header style="display: none">
            <div class="ui input">
                <input type="text" style="width: 105px" v-model="time_after" placeholder="after" />
                <input type="text" style="width: 105px" v-model="time_before" placeholder="before" />
                <select class="ui selection dropdown" v-model="time_resolution">
                    <option v-for="value in TIME_RESOLUTIONS" :value="value" :key="value">
                      {{ value }}
                    </option>
                </select>
            </div>
        </header>
        <div class="ui equal width grid">
            <div class="row">
                <div class="column">
                    <div id="pie_one" class="chart pie"></div>
                </div>
                <div class="column">
                    <div id="pie_two" class="chart pie"></div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div id="stack" class="chart stack"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="dnd" class="ui basic modal">
        <input type="file" id="file" />
        <div class='content'>
            Drag and Drop<br />
            Transactions
        </div>
    </div>
    <!--
    <div class="ui top attached segment">
      <div id="bar_one" class="chart bar">
          <canvas></canvas>
      </div>
      <div id="bar_two" class="chart bar">
          <canvas></canvas>
      </div>
    </div>

    <div class="ui top attached segment">
      <table id="table"></table>
    </div>
    -->
</body>

</html>
